<div>

        <h1>User Profile</h1>
  <ul>
    <li>Nombre: {{user.nombre}}</li>
    <li>Apellido: {{user.apellido}}</li>
    <li>edad: {{user.edad}}</li>
    <li>Email: {{user.correo}}</li>
    
  </ul>


</div>